<nav class="navbar">
    <div class="navbar-container">
        <img class="brand" src="../assets/images/up-arrow.svg" alt="">
        <ul class="navbar-items">
            <li class="navbar-item">
                <a class="navbar-link" routerLink="/arquivos/enviar" routerLinkActive="active">Enviar arquivos</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" routerLink="/arquivos/listar" routerLinkActive="active">Lista de arquivos</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

