*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
    padding-top: 130px;
    background-color: #ececec;

    .container {
        width: 100%;
        min-height: 500px;
        padding-bottom: 80px;
        background-color: #ececec;
        border-radius: 6px;


        .titulo {
            background: #319687;
            border-radius: 6px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 1px 3px 4px #0003;

            h2 {
                padding: 10px 40px;
                font-size: 1.5rem;
                color: #fff;
                background: #673AB7;
                box-shadow: 1px 3px 4px #0003;
            }
        }
    }
}